/* You can add global styles to this file, and also import other style files */
@media (max-width: 768px) {
    .product-card .product-details {
      .description {
        display: none;
      }
    }
  
    .cart-item {
      flex-direction: column;
      align-items: flex-start;
  
      .thumb {
        width: 100%;
        height: 200px;
      }
  
      .info {
        width: 100%;
        text-align: left;
      }
    }
  }
  